[run]
branch = True
source = agentflow_cli
omit =
    */__init__.py
    tests/*
    */tests/*
    graph/*
    migrations/*
    scripts/*
    venv/*
    .venv/*

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.
    @abc.abstractmethod
    @abstractmethod
    raise NotImplementedError
show_missing = True

[paths]
source =
    agentflow_cli
    */site-packages/agentflow_cli
